body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    background-color: white;
    z-index: 10;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    height: 12vh;
    width: 100vw;
    justify-content: space-evenly;
    margin-bottom: 2vh;
    position: fixed;
}
#logo{
    height: 12vh;
}
#search{
    width: 22vw;
    border-radius: 10px;
    height: 4vh
}
#search{
    margin-left: auto;
    margin-right: auto;
}
#profile{
    display: flex;
    flex-grow: 0.1;
    flex-direction: column-reverse;
    width: 6vh;
    height: 6vh;
    margin-left: 10vw;
}
#popup{
    position: fixed;
    top: 12vh;
    right: 1vw;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    box-shadow: -top none;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: none;
    z-index: 11;
    
}
#popup>*>*{
    width: 100%;
}
nav{
    align-items: center;
    margin: auto;
    display: flex;
}

#banner{
    padding-top: 16vh;
    position: relative;
    margin: auto;
    height: 50vh;
    width: 80vw;
    animation-play-state: running;
}

#banner:hover .banner-image{
    animation-play-state: paused;
}

.banner-image{
    height: 100%;
    width: 100%;
}

.banner-image img{
    height: 100%;
    width: 100%;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.banner-image {
  animation-name: fade;
  animation-duration: 3s;
}

#selector{
    background-color: rgba(239, 194, 154, 0.164);
    height: 12vh;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
}

#selector img{
    height: 100%;
    width: 10vw;
}

#menu{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.orderFrom{
    display: flex;
    flex-direction: column;
    background-color: rgba(239, 194, 154, 0.164);
    margin-bottom: 2vh;
}

.orderList{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    
    cursor: grab;
    user-select: none;
    scroll-behavior: auto;
}
 
.orderList:active{
    cursor: grabbing;
}
.orderList::-webkit-scrollbar {
    display: none;
}

.order{
    display: flex;
    flex-direction: column;
    min-width: 16vw;
    max-width: 16vw;
    margin: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.04);
}
   
.order h3{
    text-align: center;
}

.orderFrom h1{
    text-align: center;
}

.order img{
    width: 100%;
    max-height: 35vh;
}

.ingredients{
    font-size: 1em;
    text-align: left;
    padding-left: 1em;
}

.orderFooter{
    margin-top: auto;
}

.add{
    background-color: #ffa500;
    color: white;
    border-radius: 9px;
    border-color: #ffa500;
} 

.scroll-button{
    border: none;
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    margin-left: 1vw;
    background-color: #dbbfbf;
    font-size: 2em;
    cursor: pointer;
    transition: transform 0.15s ease;
}
.scroll-button:hover{
    animation: pulse 1s;
}
.scroll-button:active{
    animation: pulse 0.5s infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  }
  70% {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

#totop{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#topbutton{
    position: fixed;
    bottom: 4vh;
    right: 2vw;
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    background-color: #ffa500;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}